body {
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.theme-toggler {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.night-mode {
    background-color: grey;
    color: white;
}

.night-mode .theme-toggler {
    color: white;
}

#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 2rem;
}

#welcome-text {
    display: inline-block;
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.4s, transform 0.4s;
}

#welcome-text.fade-out {
    transform: translateY(-100%);
    opacity: 0;
}

#welcome-text.fade-in {
    transform: translateY(0);
    opacity: 1;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.2rem;
    }

    .theme-toggler {
        font-size: 1.2rem;
    }
}

.flag {
    width: 24px;
    height: 16px;
    display: inline-block;
    background-color: white;
    position: relative;
    animation: wave 1s infinite alternate;
}

.flag.fr {
    background-color: #0055A4;
}

.flag.fr::before, .flag.fr::after {
    content: '';
    position: absolute;
    top: 0;
    width: 33.33%;
    height: 100%;
}

.flag.fr::before {
    background-color: white;
    left: 33.33%;
}

.flag.fr::after {
    background-color: #EF4135;
    right: 0;
}

@keyframes wave {
    from {
        transform: skewX(-20deg);
    }
    to {
        transform: skewX(20deg);
    }
}

