body {
    transition: background-color 0.3s ease;
    font-size: 16px; /* Dimensione base per rem */
}

.theme-toggler {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.night-mode {
    background-color: #2C2C2C;
    color: white;
}

.night-mode .theme-toggler {
    color: white;
}

#header-container {
    display: flex;
    flex-direction: column; /* Cambia la direzione per visualizzare il titolo sotto il pulsante */
    align-items: center;
    position: relative;
    padding-top: 2rem; 
}

#welcome-text {
    display: inline-block;
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.4s, transform 0.4s;
}

#welcome-text.fade-out {
    transform: translateY(-100%);
    opacity: 0;
}

#welcome-text.fade-in {
    transform: translateY(0);
    opacity: 1;
}

h1 {
    text-align: center;
    font-size: 1.5rem; /* Riduci la dimensione del titolo */
}

/* Media query per dispositivi mobili */
@media (max-width: 768px) {
    h1 {
        font-size: 1.2rem; /* Riduci ulteriormente per schermi mobili */
    }

    .theme-toggler {
        font-size: 1.2rem; /* Ridimensiona il pulsante */
    }
}
