body {
    transition: background-color 0.3s ease;
    font-size: 16px;
    background-color: white;
    color: black;
}

.theme-toggler {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
    color: black;
}

.night-mode {
    background-color: #2C2C2C;
    color: white;
}

.night-mode .theme-toggler {
    color: white;
}

#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 2rem;
}

#welcome-text {
    display: inline-block;
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.4s, transform 0.4s;
}

#welcome-text.fade-out {
    transform: translateY(-100%);
    opacity: 0;
}

#welcome-text.fade-in {
    transform: translateY(0);
    opacity: 1;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.2rem;
    }

    .theme-toggler {
        font-size: 1.2rem;
    }
}

iconify-icon {
    animation: wave 1.5s infinite;
    display: inline-block;
    font-size: 1.5rem;
}

@keyframes wave {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }  
    40% {
        transform: translateX(-5px);
    }  
    60% {
        transform: translateX(5px);
    }
}
